
<h1>All Attractions</h1>


<%if user_admin == false%>
<%@attractions.each do |attraction|%>
<%=link_to "Go on #{attraction.name}", attraction_path(attraction)%><br>
  <%end%>
<%else%>
<%@attractions.each do |attraction|%>
<%=link_to "Show #{attraction.name}", attraction_path(attraction)%><br>
  <%end%><br><br><br>
  <%=link_to "New Attraction", new_attraction_path%><br>
<%end%>
